body {
  background-image: linear-gradient(90deg, rgb(77, 39, 150) 0%, rgb(154, 33, 148) 100%), none;
  background-color: initial;
  color: #FFFFFF;
  padding: 0 40px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
}

.logo {
  height: 72px;
  margin-top: 144px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 3rem;
  margin: 0;
  line-height: 2rem;
}

.flexible-input {
  width: 100%;
  max-width: 600px;
  padding: 1rem 0;
  margin: 3rem 0;
  border-radius: 50px;
  font-size: 1rem;
  transition: all 0.7s;
  text-align: center;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.flexible-input:focus {
  outline: none;
  box-shadow: rgba(77, 39, 150, 0.42) 0px 14px 26px -12px, rgba(0, 0, 0, 0.12) 0px 4px 23px 0px, rgba(77, 39, 150, 0.2) 0px 8px 10px -5px;
}

.btn-call-to-action {
  padding: 1rem 2rem;
  border: 0;
  background-color: rgb(0, 186, 95);
  font-size: 1.3rem;
  border-radius: 50px;
  transition: all 0.7s;
  border-radius: 50px;
  color: #FFFFFF;
}

.btn-call-to-action:hover {
  background-color: #141826;
  box-shadow: rgba(77, 39, 150, 0.42) 0px 14px 26px -12px, rgba(0, 0, 0, 0.12) 0px 4px 23px 0px, rgba(77, 39, 150, 0.2) 0px 8px 10px -5px;
}

.btn-call-to-action:focus {
  outline: 0;
}

.send-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background: url('assets/telegram-icon.svg') no-repeat center;
  filter: invert(100%);
  vertical-align: text-bottom;
  margin-right: 16px;
}

.secondary-text {
  color: #e8e6e3;
  font-weight: lighter;
  font-size: 0.8rem;
}

.footer a {
  color: #5ac4e9;
  text-decoration: none;
  padding: 0;
}

.footer a:hover {
  color: #c6c1b9;
}
