html {
  height: 100%;
  background-image: linear-gradient(90deg, rgb(77, 39, 150) 0%, rgb(154, 33, 148) 100%), none;
  color: #FFFFFF;
}

body, input, button {
  font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  padding: 0 40px;
  display: grid;
  grid-template-rows: 100px 100px minmax(min-content, 300px) 100px;

  grid-gap: 8%;
  align-items: center;
  justify-items: center;
}

.header {
  justify-self: end;
}

.logo a {
  display: block;
  height: 90px;
  width: 300px;
  background: url(assets/bitera-logo.svg) no-repeat center;
  line-height: 0;
  font-size: 0;
}

.content {
  height: 100%;
  width: 100%;
}

.content h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  line-height: 3rem;
  font-weight: 600;
}

.content > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flexible-input {
  width: 100%;
  max-width: 400px;
  padding: 1rem 0;
  margin: 3rem 0;
  border-radius: 30px;
  font-size: 0.9rem;
  transition: all 0.7s;
  text-align: center;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.flexible-input:placeholder-shown {
  text-overflow: ellipsis;
}

.flexible-input:focus {
  outline: none;
  box-shadow: rgba(77, 39, 150, 0.42) 0px 14px 26px -12px, rgba(0, 0, 0, 0.12) 0px 4px 23px 0px, rgba(77, 39, 150, 0.2) 0px 8px 10px -5px;
}

.primary-cta {
  padding: 1rem 2rem;
  border: 0;
  background-color: rgb(0, 186, 95);
  font-size: 1.3rem;
  border-radius: 30px;
  transition: all 0.7s;
  color: #FFFFFF;
}

.primary-cta:hover {
  background-color: #141826;
  box-shadow: rgba(77, 39, 150, 0.42) 0px 14px 26px -12px, rgba(0, 0, 0, 0.12) 0px 4px 23px 0px, rgba(77, 39, 150, 0.2) 0px 8px 10px -5px;
}

.content > form > button:focus {
  outline: none;
}

.secondary-cta {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.7s;
  color: #363636;
  border: 1px solid black;
}

.secondary-cta:hover {
  background-color: rgb(77, 39, 150);
  color: #FFFFFF;
}

.secondary-cta:focus {
  outline: none;
}

.send-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background: url(assets/telegram-icon.svg) no-repeat center;
  filter: invert(100%);
  vertical-align: text-bottom;
  margin-right: 16px;
}

.disclaimer {
  color: #E8E6E3;
  font-weight: 400;
  font-size: 0.8rem;
}

.disclaimer strong {
  font-weight: 500;
}

.footer {
  font-weight: 300;
  text-align: center;
}

.footer a {
  color: #5AC4E9;
  text-decoration: none;
}

.footer a:hover {
  color: #C6C1B9;
}

.Toastify__toast {
  border-radius: 8px;
}

.not-allowed {
  cursor: not-allowed;
}
